<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <!--FrontEnd -->
    <route path="/" action="home" controller="FrontController"/>
    <route path="/" action="login" controller="FrontController"/>

    <!--Security-->
    <route path="login" action="login" controller="SecurityController"/>
    <route path="login-function" action="loginFunction" controller="SecurityController"/>
    <route path="register" action="register" controller="SecurityController"/>
    <route path="register-function" action="registerFunction" controller="SecurityController"/>

    <route path="logout" action="logout" controller="SecurityController"/>


</routes>