<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <!--FrontEnd -->
    <route path="/" action="home" controller="FrontController"/>
    <route path="post" action="showPost" controller="PostController" params="id"/>
    <route path="add-comment" action="addComment" controller="PostController" params="id"/>
    
    <!--Security-->
    <route path="login" action="login" controller="SecurityController"/>
    <route path="register" action="login" controller="SecurityController"/>
    <route path="login" action="signup" controller="SecurityController"/>


</routes>